<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{welcome.title}"></title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Latest compiled and minified CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://bluemix.net/">
                <img src="images/bluemix-small.png"
                     th:src="@{images/bluemix-small.png}"
                     alt="Bluemix" height="32" width="32"
                     border="0"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right  ">
                <li><a href="/">Home</a></li>
                <li><a href="http://bluemix.net" class="btn">Visit Bluemix</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- NAVBAR CODE END -->


<div class="bs-example">
    <div class="page-header">
        <h1>Bluemix Demo Pas - <small>Spring Boot with Bootstrap</small></h1>
    </div>
</div>

<div class="bs-example" th:if="${employees}">
    <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Success!</strong> Found <b th:text="${employeescount}"></b> Employees
    </div>
    <h3>Employees</h3>
    <div class="col-xs-6">
        <table class="table table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="clearfix">
</div>

<div th:include="footer :: copy"></div>

</body>
</html>